#dashboard-bannertext{
  font-size: 25px;
  color: #fff;
  font-weight: bold;
  //text-transform: uppercase;
  line-height: 1.111;
  text-align: left;
  text-shadow: 1px 0.866px 1px rgb( 0, 0, 0 );
  padding-top:150px;
}
  
#dashboard-bannertext2{
  font-size: 18px;
  color: #fff;
  line-height: 1.511;
  text-align: left;
  text-shadow: 1px 0.866px 1px rgb( 0, 0, 0 );
  padding-top:10px;
  
}

#login-form{
	
	-webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;	
}

#login-title{
		
}

#login-form-head{
	//text-align: right;
	position:absolute;
	background-color: rgba( 0, 0, 0 ,0.6);
	padding:10px;
	border:2px solid #fff;	
	color:#fff;
	
	 
}

#login-form-head p{

	color:#fff;
}


.btn-file {
    	position: relative;
    	overflow: hidden;
    	
	}
.btn-file input[type=file] {
    	position: absolute;
    	top: 0;
    	right: 0;
    	min-width: 100%;
    	min-height: 100%;
    	font-size: 999px;
    	text-align: right;
    	filter: alpha(opacity=0);
    	opacity: 0;
    	cursor: inherit;
    	display: block;
	}